<?xml version="1.0"?>
<configuration>
  <configSections>
     <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /> 
  </configSections> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--数据库连接字符串-->
    <add key="ConnectionString" value="server=localhost;port=3306;database=Assistant;uid=root;pwd=root" />  
    <!--是否打开自动更新-->
    <add key="AutoUpdate" value="0" />
    <!--远程服务器地址，端口号-->
    <!--<add key="ServiceIPPort" value="192.168.0.103,9966" />-->
    <add key="ServiceIPPort" value="10.6.30.167,9966" />
    <!--<add key="ServiceIPPort" value="121.42.166.161,9966" />-->
    <!--手机端地址-->
    <!--<add key="AssistantWeb" value="http://121.42.166.161:8899/home/index" />-->
    <!--<add key="AssistantWeb" value="http://192.168.0.103:8899/home/index" />-->
    <add key="AssistantWeb" value="http://10.6.30.167:8899/" />
    <!--来电窗口自动关闭的时间，默认5分钟（单位：分钟）-->
    <add key="WindowCloseTime" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <log4net>
    <!--1、所有Logger的父节点，root的设置在所有的logger中都起作用-->
    <!--2、如果root和logger中设置了相同的appender，日志会被记录两次-->
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFile" />
    </root>
    <!--日志记录器logger可以有多个-->
    <!--信息-->
    <logger name="InfoLogger" additivity="false">
      <level value="INFO" />
      <appender-ref ref="InfoLog" />
    </logger>
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="Logs/Cal-InfoLog" />
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--滚动类型-->
      <rollingStyle value="Composite" />
      <!--文件名称-->
      <datePattern value="-yyyy-MM-dd&quot;.log&quot;" />
      <!--设置无限备份=-1-->
      <maxSizeRollBackups value="-1" />
      <!--每个文件的最大2MB-->
      <maximumFileSize value="2MB" />
      <!--名称是否可以更改为false为可以更改-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d -[%-5level]：%m%n" />
      </layout>
    </appender>
    <!--运行错误-->
    <logger name="ErrorLogger" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ErrorLog" />
    </logger>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value="Logs/Cal-ErrorLog" />
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--滚动类型-->
      <rollingStyle value="Composite" />
      <!--文件名称-->
      <datePattern value="-yyyy-MM-dd&quot;.log&quot;" />
      <!--设置无限备份=-1-->
      <maxSizeRollBackups value="-1" />
      <!--每个文件的最大2MB-->
      <maximumFileSize value="2MB" />
      <!--名称是否可以更改为false为可以更改-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d -[%-5level]：%m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>